.blogs {
  .create-blog {
    width: auto;
    margin-bottom: 1rem;
    .title, .author, .url {
      margin-bottom: 0.5rem;
      display: flex;
      justify-content: flex-start;
      label {
        width: 6rem;
      }
      input {
        width: 50%;
      }
    }
    .create-button {
      margin-top: 1rem;
    }
  }
}
